<%= render(:partial => "header") %>

<h1>Listing articles</h1>

<div id="article_list">
	<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Body</th>
			<th>Created</th>
		</tr>
	<% @articles.each do |article| %>
		<tr class="<%= cycle('list_odd', 'list_even') %>">
		<td><%=h article.title %></td>
			<td><%=h article.author %></td>
			<td><%=h article.body %></td>
			<td><%=h article.created %></td>
			<td><%= link_to image_tag("page_go.png", :border => 0, :title => "View Article"), article %></td>
			<td><%= link_to image_tag("page_edit.png", :border => 0, :title => "Edit Article"), edit_article_path(article) %></td>
			<td><%= link_to image_tag("page_delete.png", :border => 0, :title => "Delete Article"), article, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New article', new_article_path %>

</div>