!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8"}
		%title Gamez
		= stylesheet_link_tag "application"
	#main_view
		#user_navigation
			= user_nav
		%h2 Gamez - Admin
		%ul.menu_bar
			%li= link_to "Games", "#"
			%li= link_to "Users", admin_users_path
			%li= link_to "Roles", admin_roles_path
		%p{:style => "color: green"}= notice
		= yield