- form_for [:admin, @game] do |f|
	= f.error_messages
	%p
		= f.label :name
		= f.text_field :name
	%p
	- @num=4
	- until @num == -1
		= f.label get_rating(@num)
		= f.radio_button :rating, @num
		- @num -= 1
		%br
	%p
		= f.label :author
		= f.select :author, User.all.collect { |u| [u.username, u.id]}, :include_blank => false, :selected => select_author
	%p
		= f.submit