%h2
	= pluralize( Game.count, "Game")
	= link_to image_tag("add.png", :border => 0), new_admin_game_path, :title => "Create a new game"

#list
	%table
		%tr
			%th Title
			%th Rating
			%th Date Added
			%th.delete
		- @games.each do |game|
			%tr{:class => cycle('list_odd', 'list_even')}
				%td=h link_to game.name, edit_admin_game_path(game)
				%td= get_rating(game.rating)
				%td= get_date(game)
				%td.delete= link_to image_tag("delete.png", :border => 0), admin_game_path(game), :title => "Delete game", :confirm => 'Are you sure?', :method => :delete