- form_for [:admin, @user], :html => { :multipart => true } do |f|
	= f.error_messages
	#user_photo_display
		= link_to(image_tag(@user.photo.url(:small)), @user.photo.url, :html => { :border => 0 }) if @user.photo?
	%p
		= f.label :username
		%br/
		= f.text_field :username
	%p
		= f.label :fname, "First Name"
		%br/
		= f.text_field :fname
	%p
		= f.label :lname, "Last Name"
		%br/
		= f.text_field :lname
	%p
		= f.label :password
		%br/
		= f.password_field :password
	%p
		= f.label :password_confirmation, "Retype Password"
		%br/
		= f.password_field :password_confirmation
	%p
		= f.label :photo
		%br/
		= f.file_field :photo
	%p
		= f.label :role_id
		%br/
		= f.select :role_id, Role.all.collect { |r| [r.name, r.id] }, :include_blank => false, :selected => @user.role_id
	= validation_code
	%p
		= f.submit