- form_for [:member, @game] do |f|
	= f.error_messages
	%p
		= f.label :name
		= f.text_field :name
	%p
	- @num=4
	- until @num == -1
		= f.label get_rating(@num)
		= f.radio_button :rating, @num
		- @num -= 1
		%br
	%p
		= f.submit